/********** GENERAL RULES **********/

body {
  color: #111;
  font-family: 'Roboto';
}

.wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  padding: 20px 0;
}

select {
  max-width: 200px;
  margin: 0 auto;
}

h2 {
  font-weight: 100;
  font-size: 1.1em;
  height: 25px;
  width: 520px;
  margin: 0;
  padding: 2px 0 2px 130px;
}

.stars5 {
  background: url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 17px 17px;
  background-position: 12% center, 
      9% center,
      6% center,
      3% center, 
      0% center;
  
}

.stars4 {
  background: url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 17px 17px;
  background-position: 12% center, 
      9% center,
      6% center,
      3% center;
}

.stars3 {
  background: url(../img/ico-star.svg),
      url(../img/ico-star.svg),
      url(../img/ico-star.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat;
  background-size: 17px 17px;
  background-position: 12% center, 
      9% center,
      6% center;
}

.stars2 {
  background: url(../img/ico-star.svg),
      url(../img/ico-star.svg);
  background-repeat: no-repeat, 
        no-repeat;
  background-size: 17px 17px;
  background-position: 12% center, 
      9% center;
}

.stars1 {
  background: url(../img/ico-star.svg);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 12% center;
}

