/********** GENERAL RULES **********/

body {
  color: #111;
  font-family: 'Roboto';
}

h2 {
  font-weight: 100;
  font-size: 1.1em;
  height: 25px;
  width: 520px;
  margin: 0;
  padding: 2px 0;
}

.stars5 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 25px 25px;
  background-position: 100% center, 
      93% center,
      86% center,
      79% center, 
      72% center;
  
}

.stars4 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 25px 25px;
  background-position: 93% center, 
      86% center,
      79% center,
      72% center;
}

.stars3 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
  background-repeat: no-repeat, 
        no-repeat,
        no-repeat;
  background-size: 25px 25px;
  background-position: 86% center, 
      79% center,
      72% center;
}

.stars2 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
  background-repeat: no-repeat, 
        no-repeat;
  background-size: 25px 25px;
  background-position: 79% center, 
      72% center;
}

.stars1 {
  background: url(../img/ico-sample.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 72% center;
}

