h2 {
  height: 25px;
  width: 450px;
}

.stars5 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
    background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 25px 25px;
  background-position: 100% center, 
      93% center,
      86% center,
      79% center, 
      72% center;
}

.stars4 {
  background: url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg),
      url(../img/ico-sample.svg);
    background-repeat: no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat;
  background-size: 25px 25px;
  background-position: 100% center, 
      93% center,
      86% center,
      79% center;
}

